.label-text {
  font-weight: bold;
  font-size: 18px;
}
.label-text:hover {
  color: rgb(95, 210, 214);
}
input:hover {
  border-color: rgb(86, 0, 199);
  border-width: 1.2px;
  transition: 0.1s;
}
textarea:hover {
  border-color: rgb(86, 0, 199);
  border-width: 1.2px;
  transition: 0.25s;
}
