.label-text {
  font-weight: bold;
  font-size: 18px;
}
.label-text:hover {
  color: rgb(95, 210, 214);
}
// input:hover {
//   border-color: rgb(255, 166, 0);
//   border-width: 2px;
//   transform: scale(1.03);
//   transition: 0.25s;
//   text-align: center;
// }
