<nav class="navbar navbar navbar-expand-md navbar-light header-color">
    <a class="navbar-brand ms-auto">Customer Dashboard</a>
    <div class="container p-1">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/customer/deal" routerLinkActive="active">
                    Today's Deal
                </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" (click)="filterableCategory('mobile')" routerLinkActive="active">Mobiles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="filterableCategory('cloth')" routerLinkActive="active">clothes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="filterableCategory('book')" routerLinkActive="active">Bookes</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/customer/customer-service" routerLinkActive="active">Customer
                    Services</a>
            </li> -->
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="text-black m-2"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item position-relative">
                <a class="text-black m-2" routerLink="/customer/check-out" >
                    <i class="fa fa-shopping-cart fa-2x" aria-hidden="true">
                        <span
                            class="position-absolute top-0 start-100 translate-middle p-2 bg-primary border border-light rounded-circle">
                            <span class="">{{cartLength}}</span>
                        </span>
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#" routerLinkActive="active" (click)="logOut()">LOGOUT</a>
            </li>
        </ul>
    </div>
</nav>