<header id="header" class="header">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a class="logo d-flex align-items-center">
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <span>Shopping Corner</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <!-- <li><a class="nav-link scrollto active" >Home</a></li> -->
                <li><a class="nav-link scrollto" (click)="filterableCategory('mobile')"
                        routerLinkActive="active">Mobile</a></li>
                <li><a class="nav-link scrollto" (click)="filterableCategory('cloth')"
                        routerLinkActive="active">Cloth</a></li>
                <li><a class="nav-link scrollto" (click)="filterableCategory('Books')"
                        routerLinkActive="active">Books</a></li>

                <li><a>Blog</a></li>
                <li><a class="nav-link scrollto" routerLink="/customer/customer-service"
                        routerLinkActive="active">Customer Feedback</a></li>
                <li>
                    <a class="text-black" routerLink="/customer/profile"><i class="fa fa-user fa-2x"
                            aria-hidden="true"></i></a>
                </li>
                <li class="position-relative">
                    <a class="nav-link scrollto" routerLink="/customer/check-out">
                        <i class="fa fa-shopping-cart fa-2x" aria-hidden="true">
                            <span
                                class="position-absolute top-0 start-100 translate-middle p-2 bg-primary border border-light rounded-circle">
                                <span class="">{{cartLength}}</span>
                            </span>
                        </i>
                    </a>
                </li>
                <li><a class="nav-link scrollto" routerLinkActive="active" (click)="logOut()">Log Out</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->