<div class="row justify-content-center header header-color">
    <div class="col-sm-12">
        <nav class="navbar">
            <div class="m-auto">
                <button class="btn ms-5 me-5">Home</button>
                <button class="btn ms-5 me-5">Product</button>
                <button class="btn ms-5 me-5">Feedback</button>
            </div>
            <div class="">
                <a href=""><img class="profile-image" src="assets/images/user.png" alt="user_profile"></a>
                <button class="btn">Log In</button>
            </div>
        </nav>
    </div>
</div>