.profile-image {
  height: 30px;
  margin-right: 25px;
  cursor: pointer;
}
.header-color {
  background-color: #e3f2fd;
}
.active {
  background: rgb(255, 255, 255);
  color: whitesmoke;
  font-weight: bold;
  border-radius: 7px;
}
.header-profile{
  margin-left: 30rem;
}
// .header {
//   position: fixed;
//   top: 0;
//   width: 100%;
// }
