<div class="row justify-content-center">
    <div id="carouselDeals" class="carousel slide col-7" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselDeals" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselDeals" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselDeals" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="row justify-content-center">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex">
                        <div class="card mobile-card ms-auto me-2">
                            <img src="/assets/product-image/Mobiles/IPhone1.png" class="d-block w-75" alt="...">
                            <p>Iphone 1</p>
                        </div>
                        <div class="card mobile-card ms-auto me-2">
                            <img src="/assets/product-image/Mobiles/IPhone3G.png" class="d-block w-75" alt="...">
                            <p>Iphone 3G</p>
                        </div>
                        <div class="card mobile-card ms-auto me-2">
                            <img src="/assets/product-image/Mobiles/IPhone4.png" class="d-block w-75" alt="...">
                            <p>Iphone 4</p>
                        </div>
                        <div class="card mobile-card ms-auto me-2">
                            <img src="/assets/product-image/Mobiles/IPhone4S.png" class="d-block w-75" alt="...">
                            <p>Iphone 4S</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="d-flex">
                        <div class="card mobile-card ms-auto me-2">
                            <img src="/assets/product-image/Mobiles/IPhone_5.png" class="d-block w-75" alt="...">
                            <p>Iphone 5</p>
                        </div>
                        <div class="card mobile-card ms-auto me-2">
                            <img src="/assets/product-image/Mobiles/IPhone_5c.png" class="d-block w-75" alt="...">
                            <p>Iphone 5C</p>
                        </div>
                        <div class="card mobile-card ms-auto me-2">
                            <img src="/assets/product-image/Mobiles/IPhone_5s.png" class="d-block w-75" alt="...">
                            <p>Iphone 5S</p>
                        </div>
                        <div class="card mobile-card ms-auto me-2">
                            <img src="/assets/product-image/Mobiles/IPhone_SE_(1st_generation).png" class="d-block w-75"
                                alt="...">
                            <p>IPhone SE (1st_generation)</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="d-flex">
                        <div class="card mobile-card ms-auto me-2">
                            <img src="/assets/product-image/Mobiles/IPhone_6.png" class="d-block w-75" alt="...">
                            <p>Iphone 6</p>
                        </div>
                        <div class="card mobile-card ms-auto me-2">
                            <img src="/assets/product-image/Mobiles/IPhone_6s.png" class="d-block w-75" alt="...">
                            <p>Iphone 6s</p>
                        </div>
                        <div class="card mobile-card ms-auto me-2">
                            <img src="/assets/product-image/Mobiles/IPhone_6_Plus.png" class="d-block w-75" alt="...">
                            <p>Iphone 6+</p>
                        </div>
                        <div class="card mobile-card ms-auto me-2">
                            <img src="/assets/product-image/Mobiles/IPhone_6s_Plus.png" class="d-block w-100" alt="...">
                            <p>IPhone 6s+</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselDeals" data-bs-slide="prev">
            <button class="btn btn-secondary carousel-control-prev-icon" aria-hidden="true"></button>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselDeals" data-bs-slide="next">
            <button class="btn btn-secondary carousel-control-next-icon" aria-hidden="true"></button>
        </button>
    </div>
</div>
<hr>
<div class="row justify-content-center">
    <div class="col-6">
        <!-- mobile -1 -->
        <div class="card mb-3 card-width">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/assets/product-image/Mobiles/IPhone_5.png" class="img-fluid w-50 rounded-start ms-5"
                        alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Iphone 5</h5>
                        <p class="card-text">5s Silver Compatible with iPhone with 8 Mega Pixel Camera (16GB Internal
                            Memory)</p>
                        <p class="card-text"> Price <small class="text-info"> ₹ 12,000</small></p>
                    </div>
                    <button class="btn btn-primary btn-sm">Add to cart</button>
                </div>
            </div>
        </div>

        <!-- mobile-2 -->
        <div class="card mb-3 card-width">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/assets/product-image/Mobiles/IPhone_6s.png" class="img-fluid w-50 rounded-start ms-5"
                        alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Iphone 6s</h5>
                        <p class="card-text">6s Silver Compatible with iPhone with 8 Mega Pixel Camera (16GB Internal
                            Memory)</p>
                        <p class="card-text"> Price <small class="text-info"> ₹ 19,000</small></p>
                    </div>
                    <button class="btn btn-primary btn-sm">Add to cart</button>
                </div>
            </div>
        </div>

        <!-- mobile-3 -->
        <div class="card mb-3 card-width">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/assets/product-image/Mobiles/IPhone3G.png" class="img-fluid w-50 rounded-start ms-5"
                        alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Iphone 3G</h5>
                        <p class="card-text">3G Silver Compatible with iPhone with 8 Mega Pixel Camera (1GB Internal
                            Memory)</p>
                        <p class="card-text"> Price <small class="text-info"> ₹ 5,000</small></p>
                    </div>
                    <button class="btn btn-primary btn-sm">Add to cart</button>
                </div>
            </div>
        </div>

    </div>
</div>
<hr>