<hr>

<!-- clothe start -->
<div class="row justify-content-center">

    <!-- clothe-1 -->

    <ng-container *ngFor="let clothe of clotheProduct">
        <div class="col-5 custome">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img [src]="clothe.image" class="img-fluid w-75 rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ clothe.productName }}</h5>
                            <p class="card-text">{{ clothe.description }} </p>
                            <small></small>
                            <p class="card-footer"> ₹{{ clothe.price | number}} </p>
                            <button class="btn btn-primary btn-sm">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </ng-container>

</div>
<!-- clothe end -->