
<hr>

<!-- clothe start -->
<div class="row justify-content-center">

    <!-- clothe-1 -->
    <div class="col-5 custome">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/assets/product-image/clothe/clothe_1.jpeg" class="img-fluid w-75 rounded-start"
                        alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Men's T-shirt</h5>
                        <p class="card-text">AUTHER : </p>
                        <small></small>
                        <p class="card-footer"> 750₹ </p>
                        <button class="btn btn-primary btn-sm">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- clothe-2 -->
    <div class="col-5 custome">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/assets/product-image/clothe/clothe_2.jpeg" class="img-fluid w-75 rounded-start"
                        alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Men's night track combo</h5>
                        <p class="card-text">AUTHER : </p>
                        <small></small>
                        <p class="card-footer"> 2500₹ </p>
                        <button class="btn btn-primary btn-sm">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- clothe-3 -->
    <div class="col-5 custome">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/assets/product-image/clothe/clothe_3.jpeg" class="img-fluid w-75 rounded-start"
                        alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Pents</h5>
                        <p class="card-text">AUTHER : </p>
                        <small></small>
                        <p class="card-footer"> 850₹ </p>
                        <button class="btn btn-primary btn-sm">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- clothe-4 -->
    <div class="col-5 custome">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/assets/product-image/clothe/clothe_4.jpeg" class="img-fluid w-75 rounded-start"
                        alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Hoody</h5>
                        <p class="card-text">AUTHER : </p>
                        <small></small>
                        <p class="card-footer"> 1000₹ </p>
                        <button class="btn btn-primary btn-sm">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- clothe-5 -->
    <div class="col-5 custome">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/assets/product-image/clothe/clothe_5.jpg" class="img-fluid w-75 rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Kruta for men</h5>
                        <p class="card-text">AUTHER : </p>
                        <small></small>
                        <p class="card-footer"> 1500₹ </p>
                        <button class="btn btn-primary btn-sm">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- clothe-6 -->
    <div class="col-5 custome">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/assets/product-image/clothe/clothe_6.jpeg" class="img-fluid w-75 rounded-start"
                        alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Kotii</h5>
                        <p class="card-text">AUTHER : </p>
                        <small></small>
                        <p class="card-footer"> 1300₹ </p>
                        <button class="btn btn-primary btn-sm">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- clothe end -->
<br>
<hr>