<div class="row dashboard-color">
    <div class="col-sm-12">
        <nav class="navbar">
            <span class="navbar-item ms-5 text-success">Customer Dashboard</span>
            <div class="navbar-item m-auto">
                <button class="btn ms-5 me-5">Today's Deal</button>
                <button class="btn ms-5 me-5">Mobiles</button>
                <button class="btn ms-5 me-5">Electronics & accessories</button>
                <button class="btn ms-5 me-5">clothes</button>
                <button class="btn ms-5 me-5">Bookes</button>
                <button class="btn ms-5 me-5">Feedback</button>
                <button class="btn ms-5 me-5">Customer Services</button>
            </div>
        </nav>
    </div>
</div>