.dashboard-color {
  background-color: #e3f2fd;
}
.dashboard-card{
  width:24%!important;
  // background-color: burlywood;
}
.active{
  background: rgb(228, 108, 22);
  color: white;
  font-weight: bold;
}