<!-- Customer dashboard header start -->

<div class="row dashboard-color">
    <div class="col-sm-12">
        <nav class="navbar">
            <span class="navbar-item ms-5 text-success">Customer Dashboard</span>
            <div class="navbar-item m-auto">
                <button class="btn ms-5 me-5">Today's Deal</button>
                <button class="btn ms-5 me-5">Mobiles</button>
                <button class="btn ms-5 me-5">Electronics & accessories</button>
                <button class="btn ms-5 me-5">clothes</button>
                <button class="btn ms-5 me-5">Bookes</button>
                <button class="btn ms-5 me-5">Feedback</button>
                <button class="btn ms-5 me-5">Customer Services</button>
            </div>
        </nav>
    </div>
</div>

<!-- Customer dashboard header end -->

<!-- customer dashboard body start -->

<div class="row mt-3">
    <div class="card dashboard-card ms-auto me-2">
        <div class="card-header">
            Styles for Men | Up to 70% off + Extra ₹300 cashback
        </div>
        <div class="card-body">
            <h5 class="card-title">Here comes image</h5>
            <img src="" alt="profuct_show">
            <p class="card-text">With some text!!</p>
            <!-- <a href="#" class="btn btn-primary">Let's visit</a> -->
        </div>
    </div>
    <div class="card dashboard-card me-2">
        <div class="card-header">
            Best book with major cashback!
        </div>
        <div class="card-body">
            <h5 class="card-title">Here comes image</h5>
            <img src="" alt="profuct_show">
            <p class="card-text">With some text!!</p>
            <!-- <a href="#" class="btn btn-primary">Let's visit</a> -->
        </div>
    </div>
    <div class="card dashboard-card me-2">
        <div class="card-header">
            49 % off on all new smartphones + Extra ₹3000 cashback
        </div>
        <div class="card-body">
            <h5 class="card-title">Here comes image</h5>
            <img src="" alt="profuct_show">
            <p class="card-text">With some text!!</p>
            <!-- <a href="#" class="btn btn-primary">Let's visit</a> -->
        </div>
    </div>
    <div class="card dashboard-card me-auto">
        <div class="card-header">
            Styles for Women | Up to 20% off + Extra ₹300 cashback
        </div>
        <div class="card-body">
            <h5 class="card-title">Here comes image</h5>
            <img src="" alt="profuct_show">
            <p class="card-text">With some text!!</p>
            <!-- <a href="#" class="btn btn-primary">Let's visit</a> -->
        </div>
    </div>
</div>

<!-- customer dashboard body end -->