<shopping-corner-dashboard></shopping-corner-dashboard>
<br>
<div class="row justify-content-center">
    <div class="col-sm-8 table-responsive">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>P.No</th>
                    <th>productName</th>
                    <th>price</th>
                    <th>Category</th>
                    <th>image</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productList; let i = index;">
                    <td>{{ i +1 }}</td>
                    <td> {{ product.productName }} </td>
                    <td> {{ product.price }} </td>
                    <td> {{ product.category }} </td>
                    <td> {{ product.image }} </td>
                    <td> {{ product.description }} </td>
                    <td>
                        <button class="btn btn-success btn-sm me-3"
                            (click)="editProduct(product)">Edit</button>
                        <button class="btn btn-danger btn-sm" (click)="removeProduct(product.productId)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>